# --- Configuración de Base de Datos ---
# Formato: mysql://USUARIO:PASSWORD@HOST:PUERTO/NOMBRE_DB

# Nota: Si corres esto con Docker, el host debe ser el nombre del servicio (ej: 'database').
# Si lo corres localmente fuera de Docker, el host suele ser 'localhost'.

DATABASE_URL="mysql://root:password123@database:3306/overdle_database"