.emojis-page-container {
  /* Ocupa el espacio disponible y centra su contenido */
  flex: 1; 
  width: 100%;
  padding: 20px;
  
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra todo horizontalmente */
  gap: 2rem; /* Espacio entre el título y la lista */
}

.title-container {
  text-align: center;
  margin-top: 1rem;
}